@import url("non.geist");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Geist Variable";
  background-color: #000000;
  background-image: linear-gradient(135deg, #000000 0%, #5e5c5c 100%);
}
